<style>
  .error-title {
    font-size: 24px;
    color: #d9534f;
    text-align: center;
    margin-top: 20px;
  }

  .error-msg {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }

  .error-debug {
    text-align: center;
    font-family: Fixed, monospace;
    width: 100%;
    font-size: 12px;
    color: #999;
  }
</style>
<div>
  <p class="error-title">Sorry! An error occurred</p>
  <p class="error-msg">
    This error has been logged. Please follow your organisation's procedures to report this issue if you need further
    assistance.
  </p>
  <% if (showDebug) { %>
  <div class="error-debug debug">
    <details>
      <summary style="text-align: center;">(Click to expand) ERROR information</summary>
      <div>
        <dl>
          <dt>message</dt>
          <dd><%= error.message %></dd>
          <dt>stack</dt>
          <dd><code><%= error.stack %></code></dd>
          <dt>cause</dt>
          <dd><%= error.cause %></dd>
          <dt>fileName</dt>
          <dd><%= error.fileName %></dd>
          <dt>column #</dt>
          <dd><%= error.column %></dd>
          <dt>line #</dt>
          <dd><%= error.line %></dd>
        </dl>
      </div>
    </details>
  </div>
  <% } %>
</div>
</div>
